!.gitignore
!.gitattributes
!.*.md

*.box
*.fmd
*.go~
*.im
*.iml
*.ipr
*.iws
*.log
*.pyc
*.swp
.DS_Store
.cache
.classpath
.idea
*.kube/
.project
.settings
.tag*
.vagrant-openshift.json*
.vimrc
/.project
*.vagrant
/_output
/_tools
/assets/nbproject
/cpu.pprof
/examples/sample-app/logs/openshift.log
/examples/sample-app/openshift.local.*
/openshift.local.*
/third-party
apps/modifiedFabric8.json
dependency-reduced-pom.xml
kube-cluster/kubernetes
origin.iml
overlays
target
